<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1>We are all about food!</h1>
      <p class="lead text-muted">We are a non-profit company working towards a world where noone sleeps hungry.</p>
      <p>
        <div class="row justify-content-around">
            <div class="col-4">
                <a href="#" class="btn btn-primary my-2">Donate Something</a>
            </div>
            <div class="col-4">
                <a href="#" class="btn btn-secondary my-2">Buy Something</a>
            </div>
          </div>
    </div>
  </section>
  <div class="album py-5">
    <div class="container">
      <div class="row">
      <div *ngFor="let item of items" >
      <div class="col-md-12">
        <div class="card mb-4 shadow-sm">
        <img src="../../assets/display.jpg" height="225" alt="">
        <div class="card-body">
          <p class="card-text">{{item.payload.doc.data().name}} {{item.payload.doc.data().price}} {{item.payload.doc.data().quantity}}</p>
          <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" (click)="bn.buyNow(item.payload.doc.data())" class="btn btn-sm btn-outline-secondary">Buy now</button>
          </div>
          <small class="text-muted">9 mins</small>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
  <!-- <div class="album py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../assets/display.jpg" height="225" alt="">
            <div class="card-body">
              <p class="card-text">This is some random text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../assets/display.jpg" height="225" alt="">
            <div class="card-body">
              <p class="card-text">This is some random text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../assets/display.jpg" height="225" alt="">
            <div class="card-body">
              <p class="card-text">This is some random text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../assets/display.jpg" height="225" alt="">
            <div class="card-body">
              <p class="card-text">This is some random text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../assets/display.jpg" height="225" alt="">
            <div class="card-body">
              <p class="card-text">This is some random text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../assets/display.jpg" height="225" alt="">
            <div class="card-body">
              <p class="card-text">This is some random text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../assets/display.jpg" height="225" alt="">
            <div class="card-body">
              <p class="card-text">This is some random text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../assets/display.jpg" height="225" alt="">
            <div class="card-body">
              <p class="card-text">This is some random text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="../../assets/display.jpg" height="225" alt="">
            <div class="card-body">
              <p class="card-text">This is some random text</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy now</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</main>